# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml

# Android
android/.gradle/
android/build/
android/local.properties
android/*.hprof
*.hprof
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.log

# Misc
*.class
*.lock
